.profile {
  background-color: var(--white-color);
  padding: 30px;
  border-radius: 8px;
  text-align: center;
}

.profile a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
}

.profile a:hover {
  text-decoration: underline;
}