.resultsPage {
  background-color: var(--white-color);
  padding: 30px;
  border-radius: 8px;
  text-align: center;
  max-width: 800px; 
  margin: 0 auto;
}

.table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left; 
}

.table th {
  background-color: #f2f2f2;
  color: var(--text-color);
}

.clearButton {
  margin-top: 20px;
  background-color: var(--danger-color);
}

.clearButton:hover {
  background-color: #a00; 
}