.button {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--white-color);
  transition: background-color 0.3s, transform 0.1s;
}

.button:hover {
  background-color: var(--primary-hover);
}

.button:active {
  transform: scale(0.98);
}