.button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--white-color);
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #357abd;
}